html {
  font-size: 24px
  background-color: white;
  height: 100%;
}

body{
  margin: 0;
  height:100%;
  text-align: center
}

.homeheader {
  padding: 0;
  background-image: url(../images/spot.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header li{
  padding-top: 310px;
  padding-left: 200px;
}

header li a{
  background: rgba(255,255,255,0);
  line-height: 1.5;
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
  color: black;
}
